.my header{
	height: 100%;
}
.my header .my_head_bar{
	height: .8rem;
	background: url(../images/logo.png)no-repeat center center;
	background-color: black;
	background-size: 36%;
	transform: scale();
}
.my header .my_head_bar a{
	color: black;
	display: block;
    width: .5rem;
    height: .5rem;
    line-height: .5rem;
    text-indent: .75rem;
    overflow: hidden;
    margin: .13rem .13rem;
}
.my header .my_head_bar a:nth-child(3){
	margin: .13rem .15rem .13rem .11rem;
}
.my header .my_head_bar .all{
	float: left;
	background: url(../images/menu.png)no-repeat center center;
	background-size: .3rem .3rem;
}
.my header .my_head_bar .search{
	float: left;
	background: url(../images/search.png)no-repeat center center;
	background-size: .4rem .4rem;
}
.my header .my_head_bar .my{
	float: right;
	background: url(../images/my.png)no-repeat center center;
	background-size: .4rem .4rem;
}
.my header .my_head_bar .cart{
	float: right;
	background: url(../images/cart.png)no-repeat center center;
	background-size: .45rem .4rem;
}
.my header .my_nav{
	width:100%;
	height:0.7rem;
	background:#efefef;
	border-bottom:2px solid #000;
	padding-left:1.5rem;
}
.my header .my_nav li{
	float: left;	
	border:none;
	text-align: center;
	line-height:0.7rem;
}
.my header .my_nav li a{
	display: block;
	width:1rem;
	height:0.3rem;
	color:#000000;
	float: left;
}
.my header .my_nav li a:last-child{
	border:none;
}
.my header .my_nav li span{
	float: right;
}
.my header .login{
	width:100%;
	height:1.1rem;
	border:none;
}
.my header .login li{
	width:50%;
	height:100%;
	float: left;
}
.my header .login li img{
	width:100%;
	height:100%;
	border:none;
}
