.my header{
	height: 100%;
}
.my header .my_head_bar{
	height: .8rem;
	background: url(../images/logo.png)no-repeat center center;
	background-color: black;
	background-size: 36%;
	transform: scale();
}
.my header .my_head_bar a{
	color: black;
	display: block;
    width: .5rem;
    height: .5rem;
    line-height: .5rem;
    text-indent: .75rem;
    overflow: hidden;
    margin: .13rem .13rem;
}
.my header .my_head_bar a:nth-child(3){
	margin: .13rem .15rem .13rem .11rem;
}
.my header .my_head_bar .all{
	float: left;
	background: url(../images/menu.png)no-repeat center center;
	background-size: .3rem .3rem;
}
.my header .my_head_bar .search{
	float: left;
	background: url(../images/search.png)no-repeat center center;
	background-size: .4rem .4rem;
}
.my header .my_head_bar .my{
	float: right;
	background: url(../images/my.png)no-repeat center center;
	background-size: .4rem .4rem;
}
.my header .my_head_bar .cart{
	float: right;
	background: url(../images/cart.png)no-repeat center center;
	background-size: .45rem .4rem;
}
.my header .my_nav{
	width:100%;
	height:0.7rem;
	background:#efefef;
	border-bottom:2px solid #000;
	padding-left:1.5rem;
}
.my header .my_nav li{
	float: left;	
	border:none;
	text-align: center;
	line-height:0.7rem;
}
.my header .my_nav li a{
	display: block;
	width:1rem;
	height:0.3rem;
	color:#000000;
	float: left;
}
.my header .my_nav li a:last-child{
	border:none;
}
.my header .my_nav li span{
	float: right;
}
.my header .tabs{
	width:100%;
	height:1.1rem;
	border:none;
}
.my header .tabs .ant-tabs-tab{
	width:50%;
	height:1.1rem;
	float: left;

}
.my header .tabs .ant-tabs-tab-active {
	background:url(../images/login_title.gif);
	background-size: 100% 100%;
}
.my header .tabs .ant-tabs-tab {
	background:url(../images/reg_title2.gif);
	background-size: 100% 100%;
}
.my header .tabs .ant-tabs-tabpane-active{
	display: block;
}
.my header .tabs .ant-tabs-tabpane-inactive{
	display: none;
}
.ant-tabs-bar{
	outline:none;
}
.my header .tabs .tab_conent{
	width:75%;
	height:4rem;
	border:1px solid transparent;
	margin: auto;
	position: relative;
}
/*.my header .tabs .con{
	width:75%;
	height:4rem;
	border:1px solid #CCCCCC;
	margin: auto;	
	padding-top:1.1rem;
}*/
.my header .tabs .log{
	width:100%;
	height:0.5rem;
	background:orange;
	text-align: center;
	line-height:0.5rem;
	color:#fff;
	margin-top:1.3rem;
}
.my header .tabs input{
	width:86%;
	height:0.7rem;
	background:#EEEEEE;
	border:none;
	outline: none;
	margin-top:0.1rem;
	margin-left:0.7rem;
}
.my header .tabs img{
	width:0.7rem;
	height:0.7rem;
	position:absolute;
}
.my header .tabs .user{
	left:0;
	top:2.1rem;
}
.my header .tabs .pwd{
	left:0;
	top:2.9rem;
}
#name{
	margin-top:0.3rem;
}
.my header .tabs .tab_conent .con{
	width:100%;
	height:1.6rem;
	border:1px solid #ccc;
	margin-top:0.4rem;
}
.my header .tabs .tab_conent .con p{
	width:42%;
	height:0.7rem;
	float: left;
	font-size:0.2rem;
	line-height:0.7rem;
}
.my header .tabs .tab_conent .con p:first-child{
	margin-left:0.4rem;
	margin-right:0.36rem;
}
.my header .tabs .tab_conent .con p input{
	width:0.2rem;
	height:0.2rem;
	float: left;
	margin-right:0.1rem;
	margin-top:0.25rem;
}
.my header .tabs .tab_conent .con input:first-child{
	margin-left:0;
}
.my header .tabs .tab_conent .con button{
	width:3rem;
	height:0.6rem;
	margin-left:0.7rem;
	background:#DF5000;
	border:none;
	outline: none;
	color:#fff;
}


.my header .tabs .tab2_conent{
	width:75%;
	height:4rem;
	border:1px solid transparent;
	margin: auto;
	position: relative;
}
.my header .tabs .log{
	width:100%;
	height:0.5rem;
	background:orange;
	text-align: center;
	line-height:0.5rem;
	color:#fff;
	margin-top:1.3rem;
}
.my header .tabs .tab2_conent span{
	width:1rem;
	height:0.4rem;
	background:#8d8d8d;
	position: absolute;
	left:0;
}
.my header .tabs .tab2_conent input{
	width:86%;
	height:0.4rem;
	background:#EEEEEE;
	border:none;
	outline: none;
	margin-top:0.1rem;
	margin-left:0.7rem;
}
.my header .tabs .tab2_conent .con{
	width:100%;
	height:2rem;
	border:1px solid #ccc;
	margin-top:0.4rem;
}
.my header .tabs .tab2_conent .con p:first-child{
	width:100%;
	height:0.4rem;
	font-size:0.2rem;
	text-align: center;
	line-height:0.4rem;
	color:#DF5000;
	border-bottom:1px solid #ccc;
}
.my header .tabs .tab2_conent .con .xieyi input{
	width:0.2rem;
	height:0.2rem;
}
.my header .tabs .tab2_conent .con .xieyi{
	width:100%;
	height:0.3rem;
	font-size:0.2rem;
	line-height:0.3rem;
	margin-bottom:0.2rem;
}
.my header .tabs .tab2_conent .con button{
	width:3rem;
	height:0.6rem;
	margin-left:0.7rem;
	background:#DF5000;
	border:none;
	outline: none;
	color:#fff;
}